---
import { m } from '@/paraglide/messages.js'
import { localizeHref, deLocalizeHref } from '@/paraglide/runtime.js'
import Grid from '@/components/ui/Grid.vue'
import UserInfo from '@/components/layout/UserInfo.vue'

const path = deLocalizeHref(Astro.url.pathname + Astro.url.search)
const currentLocale = Astro.locals.locale
const currentPath = Astro.url.pathname
const user = Astro.locals.user

const langs = [
  {
    locale: 'pt',
    href: localizeHref(path, { locale: 'pt' }),
    label: 'PT'
  },
  { locale: 'en',
    href: localizeHref(path, { locale: 'en' }),
    label: 'EN'
  },
]

const navItems = [
  {
    path: '/',
    label: m['map.title']()
  },
  {
    path: '/about',
    label: m['about.title']()
  },
  {
    path: '/contacts',
    label: m['contacts.title']()
  }
]

---

<header>
  <Grid gap="xl" align="center">
    <a href={localizeHref('/')} class="header__logo">
      <span>{m.site_title()}</span>
    </a>
    <nav>
      <ul class="nav-list">
        {navItems.filter((item) => !item.loggedInOnly || user).map((item) => (
          <li>
            <a href={localizeHref(item.path)} class:list={item.path === currentPath ? 'is-active' : ''}>{item.label}</a>
          </li>
        ))}
      </ul>
    </nav>
  </Grid>
  <Grid gap="s" align="center">
    {
      !currentPath.includes('/recursos') && (
        <wa-button size="s" href={localizeHref('/recursos/novo')}>
          <wa-icon name="plus"></wa-icon>
          Adicionar recurso
        </wa-button>
      )
    }
    <ul class="nav-lang">
      {langs.map((lang) => (
        <li>
          <a href={lang.href} class:list={lang.locale === currentLocale ? 'is-active' : ''}>{lang.label}</a>
        </li>
      ))}
    </ul>
    {
      user && (
        <UserInfo user={user} locale={currentLocale ?? 'pt'} client:only="vue" />
      )
    }
  </Grid>

  <wa-button
    variant="neutral"
    class="nav-toggle"
    id="nav-toggle"
    aria-controls="header-panel"
    aria-expanded="false"
    size="s"
  >
    <wa-icon class="nav-toggle__icon nav-toggle__icon--open" name="bars" label="Open menu"></wa-icon>
    <wa-icon class="nav-toggle__icon nav-toggle__icon--close" name="xmark" label="Close menu"></wa-icon>
  </wa-button>

</header>

<wa-drawer id="header-drawer" class="nav-drawer" label="Menu">
  <nav>
    <ul class="nav-list">
      {navItems.map((item) => (
        <li>
          <a href={localizeHref(item.path)} class:list={item.path === currentPath ? 'is-active' : ''}>{item.label}</a>
        </li>
      ))}
    </ul>
  </nav>
  <Grid gap="s" align="center">
    <wa-button variant="neutral" size="s" appearance="plain">
      <wa-icon name="plus"></wa-icon>
      Adicionar recurso
    </wa-button>
    <ul class="nav-lang">
      {langs.map((lang) => (
        <li>
          <a href={lang.href} class:list={lang.locale === currentLocale ? 'is-active' : ''}>{lang.label}</a>
        </li>
      ))}
    </ul>
  </Grid>
</wa-drawer>

<script>
  import '@awesome.me/webawesome/dist/components/button/button.js'
  import '@awesome.me/webawesome/dist/components/icon/icon.js'
  import '@awesome.me/webawesome/dist/components/drawer/drawer.js'

  const init = () => {
    const button = document.getElementById('nav-toggle')
    const drawer = document.getElementById('header-drawer')
    if (!button || !drawer) return

    button.addEventListener('click', (event) => {
      // @ts-ignore
      const button = event.currentTarget as HTMLElement
      const isExpanded = button.getAttribute('aria-expanded') === 'true'
      button.setAttribute('aria-expanded', isExpanded ? 'true' : 'false')

      // @ts-expect-error - drawer is a custom element
      drawer.open = !isExpanded
    })
  }

  document.addEventListener('astro:page-load', init)
</script>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--wa-space-l);
    justify-self: start;
    padding: var(--wa-space-m) var(--wa-space-l);
    @media (min-width: 768px) {
      flex-wrap: nowrap;
      gap: var(--wa-space-xl);
      padding: var(--wa-space-l) var(--wa-space-xl);
    }
    @media (max-width: 767px) {
      .nav-lang,
      nav {
        display: none;
      }
    }
  }
  .header__logo {
    display: inline-flex;
    align-items: end;
    gap: var(--wa-space-xs);
    font-size: var(--wa-font-size-l);
    font-weight: var(--wa-font-weight-bold);
    color: var(--wa-color-brand-50);
    text-decoration: none;
    line-height: 1;
    transition: all .2s;

    &:hover {
      color: var(--wa-color-brand-60);
    }
    &::before {
      content: '';
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: var(--wa-border-radius-circle);
      background-color: currentColor;
    }
  }

  .nav-toggle {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .nav-toggle .nav-toggle__icon--close,
  .nav-toggle[aria-expanded="true"] .nav-toggle__icon--open {
    display: none;
  }
  .nav-toggle[aria-expanded="true"] .nav-toggle__icon--close {
    display: inline-flex;
  }

  .nav-list {
    flex-direction: column;
  }
  .nav-lang,
  .nav-list {
    display: flex;
    gap: var(--wa-space-s);
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      font-weight: var(--wa-font-weight-semibold);
      &:hover,
      &.is-active {
        text-decoration: underline;
        color: var(--wa-color-brand-50);
        font-weight: var(--wa-font-weight-bold);
      }
    }
  }

  @media (min-width: 768px) {
    .nav-toggle {
      display: none;
    }
    .nav-lang,
    .nav-list {
      flex-direction: row;
      gap: var(--wa-space-m);
    }
  }

  .nav-drawer::part(body) {
    display: flex;
    flex-direction: column;
    gap: var(--wa-space-l);
  }
</style>
