---
import { m } from '@/paraglide/messages.js'
import { localizeHref, deLocalizeHref } from '@/paraglide/runtime.js'
import Grid from '@/components/ui/Grid.astro'

const path = deLocalizeHref(Astro.url.pathname + Astro.url.search)
const currentLocale = Astro.locals.locale

const langs = [
  { locale: 'en',
    href: localizeHref(path, { locale: 'en' }),
    label: 'EN'
  },
  {
    locale: 'pt',
    href: localizeHref(path, { locale: 'pt' }),
    label: 'PT'
  }
]

const currentPath = Astro.url.pathname

const navItems = [
  {
    path: '/',
    label: m['map.title']()
  },
  {
    path: '/about',
    label: m['about.title']()
  },
  {
    path: '/contacts',
    label: m['contacts.title']()
  },
  {
    path: '/docs',
    label: m['docs.title']()
  }
]

---

<header>
  <Grid gap="xl" align="center">
    <a href={localizeHref('/')} class="header__logo">
      <span>{m.site_title()}</span>
    </a>
    <nav>
      <ul class="header__nav-list">
        {navItems.map((item) => (
          <li>
            <a href={localizeHref(item.path)} class:list={item.path === currentPath ? 'is-active' : ''}>{item.label}</a>
          </li>
        ))}
      </ul>
    </nav>
  </Grid>
  <ul class="header__lang-buttons">
    {langs.map((lang) => (
      <li>
        <a href={lang.href} class:list={lang.locale === currentLocale ? 'is-active' : ''}>{lang.label}</a>
      </li>
    ))}
  </ul>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--wa-space-xl) var(--wa-space-2xl);
  }
  .header__logo {
    display: inline-flex;
    align-items: end;
    gap: var(--wa-space-xs);
    font-size: var(--wa-font-size-l);
    font-weight: var(--wa-font-weight-bold);
    color: var(--wa-color-brand-10);
    text-decoration: none;
    line-height: 1;
    transition: all .2s;

    &:hover {
      color: var(--wa-color-brand-40);
    }
    &::before {
      content: '';
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: var(--wa-border-radius-circle);
      background-color: currentColor;
    }
  }

  .header__lang-buttons,
  .header__nav-list {
    display: flex;
    gap: var(--wa-space-m);
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      font-weight: var(--wa-font-weight-semibold);
      &:hover,
      &.is-active {
        text-decoration: underline;
        color: var(--wa-color-brand-10);
        font-weight: var(--wa-font-weight-bold);
      }
    }
  }
</style>